/* Header CSS */
#header{
    display: flex;
    border: solid 2px blue;
    justify-content: space-between;
    font-size: large;
    align-items: center;
}
#logo-id{
    width: 80px;
}

.filter{
    display: flex;
}

#navBar ul{
    display: flex;
    list-style: none;
}
#navBar ul li{
    padding: 10px;
}

.login{
    margin-right: 4px;
    padding: 0 20px;
    cursor: pointer;
}

/* Body CSS */
#body{
    margin: 10px ;
}

.resCard{
    width: 300px;
    border: solid 2px grey;
    padding: 5px;
    margin: 10px;
}
.resContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.resImg{
    width: 100%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer_cards{
    width: 300px;
    height: 500px;
    background-color:  #f0f0f0;
    padding: 5px;
    margin: 10px;
}
.shimmer_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.notFound{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}